{"openapi":"3.0.3","info":{"title":"Banking Management API","description":"A comprehensive API for banking management applications.\n\n## Features\n* User authentication & authorization (JWT)\n* Account management (checking, savings, credit)\n* Fund transfers (internal & external)\n* Bill payments & scheduled payments\n* Transaction history & statements\n* Beneficiary management\n* Card management\n* Loan applications & tracking\n\n## Authentication\nThis API uses JWT Bearer tokens. Obtain a token via `/auth/login`.\n","version":"1.0.2","contact":{"name":"API Support","email":"support@bankingapp.com"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"servers":[{"url":"https://api.bankingapp.com/v1","description":"Production server"},{"url":"https://sandbox.bankingapp.com/v1","description":"Sandbox server"}],"tags":[{"name":"Auth","description":"Authentication and authorization endpoints"},{"name":"Accounts","description":"Account management operations"},{"name":"Transactions","description":"Transaction history and details"},{"name":"Transfers","description":"Fund transfer operations"},{"name":"Payments","description":"Bill payments and scheduled payments"},{"name":"Beneficiaries","description":"Beneficiary management"},{"name":"Cards","description":"Debit/Credit card management"},{"name":"Loans","description":"Loan applications and management"}],"security":[{"BearerAuth":[]}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT token obtained from /auth/login"},"jwtScheme":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT Bearer token authentication"}},"schemas":{"Error":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"message":{"type":"string","example":"Invalid request parameters"},"details":{"type":"object","additionalProperties":true}},"required":["code"]},"Money":{"type":"object","properties":{"amount":{"type":"number","format":"decimal","example":1500.5},"currency":{"type":"string","pattern":"^[A-Z]{3}$","example":"USD","description":"ISO 4217 currency code"}},"required":["amount","currency"]},"PagedResponse":{"type":"object","properties":{"data":{"type":"array"},"page":{"type":"integer","example":1},"size":{"type":"integer","example":20},"total":{"type":"integer","example":150},"totalPages":{"type":"integer","example":8}}},"LoginRequest":{"type":"object","properties":{"username":{"type":"string","example":"john.doe"},"password":{"type":"string","format":"password","example":"SecurePass123!"}},"required":["username","password"]},"LoginResponse":{"type":"object","properties":{"accessToken":{"type":"string","description":"JWT access token"},"refreshToken":{"type":"string","description":"JWT refresh token"},"tokenType":{"type":"string","example":"Bearer"},"expiresIn":{"type":"integer","description":"Token expiration in seconds","example":3600}}},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string"}},"required":["refreshToken"]},"Account":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"accountNumber":{"type":"string","example":"1234567890"},"accountType":{"type":"string","enum":["CHECKING","SAVINGS","CREDIT","BUSINESS"]},"balance":{"$ref":"#/components/schemas/Money"},"availableBalance":{"$ref":"#/components/schemas/Money"},"status":{"type":"string","enum":["ACTIVE","FROZEN","CLOSED"]},"openedAt":{"type":"string","format":"date-time"},"customerId":{"type":"string","format":"uuid"},"interestRate":{"type":"number","format":"decimal","description":"Annual interest rate in percentage","example":3.5},"currency":{"type":"string","example":"USD"}}},"CreateAccountRequest":{"type":"object","properties":{"accountType":{"type":"string","enum":["CHECKING","SAVINGS","BUSINESS"],"example":"CHECKING"},"initialDeposit":{"$ref":"#/components/schemas/Money"},"currency":{"type":"string","example":"USD"}},"required":["accountType"]},"AccountStatement":{"type":"object","properties":{"accountId":{"type":"string","format":"uuid"},"periodStart":{"type":"string","format":"date"},"periodEnd":{"type":"string","format":"date"},"openingBalance":{"$ref":"#/components/schemas/Money"},"closingBalance":{"$ref":"#/components/schemas/Money"},"totalCredits":{"$ref":"#/components/schemas/Money"},"totalDebits":{"$ref":"#/components/schemas/Money"},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}},"Transaction":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"transactionId":{"type":"string","example":"TXN123456789"},"type":{"type":"string","enum":["CREDIT","DEBIT","TRANSFER","PAYMENT","FEE","INTEREST"]},"amount":{"$ref":"#/components/schemas/Money"},"description":{"type":"string","example":"Salary deposit"},"status":{"type":"string","enum":["PENDING","COMPLETED","FAILED","REVERSED"]},"createdAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"},"reference":{"type":"string","example":"REF12345"},"accountId":{"type":"string","format":"uuid"},"counterparty":{"type":"string","description":"Other party involved in transaction","example":"Acme Corp"}}},"TransferRequest":{"type":"object","properties":{"fromAccountId":{"type":"string","format":"uuid"},"toAccountId":{"type":"string","format":"uuid"},"amount":{"$ref":"#/components/schemas/Money"},"description":{"type":"string","maxLength":200,"example":"Monthly rent"},"scheduledFor":{"type":"string","format":"date-time","description":"If provided, schedules future transfer"}},"required":["fromAccountId","toAccountId","amount"]},"ExternalTransferRequest":{"type":"object","properties":{"fromAccountId":{"type":"string","format":"uuid"},"beneficiaryId":{"type":"string","format":"uuid"},"amount":{"$ref":"#/components/schemas/Money"},"description":{"type":"string","maxLength":200}},"required":["fromAccountId","beneficiaryId","amount"]},"TransferResponse":{"type":"object","properties":{"transactionId":{"type":"string"},"status":{"type":"string","enum":["PROCESSING","COMPLETED","SCHEDULED","FAILED"]},"message":{"type":"string"},"scheduledDate":{"type":"string","format":"date-time","description":"Only if transfer was scheduled"}}},"Beneficiary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","example":"John Smith"},"nickname":{"type":"string","example":"John"},"accountNumber":{"type":"string","example":"9876543210"},"bankCode":{"type":"string","example":"BANKUS33"},"bankName":{"type":"string","example":"Bank of America"},"accountType":{"type":"string","enum":["CHECKING","SAVINGS"]},"email":{"type":"string","format":"email"},"createdAt":{"type":"string","format":"date-time"}}},"AddBeneficiaryRequest":{"type":"object","properties":{"name":{"type":"string"},"nickname":{"type":"string"},"accountNumber":{"type":"string"},"bankCode":{"type":"string"},"bankName":{"type":"string"},"accountType":{"type":"string","enum":["CHECKING","SAVINGS"]},"email":{"type":"string","format":"email"}},"required":["name","accountNumber","bankCode"]},"PaymentRequest":{"type":"object","properties":{"accountId":{"type":"string","format":"uuid"},"payeeId":{"type":"string","format":"uuid"},"amount":{"$ref":"#/components/schemas/Money"},"dueDate":{"type":"string","format":"date"},"description":{"type":"string"},"recurrence":{"type":"string","enum":["ONE_TIME","DAILY","WEEKLY","MONTHLY","YEARLY"]}},"required":["accountId","payeeId","amount","dueDate"]},"Payee":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"category":{"type":"string","enum":["UTILITIES","RENT","INSURANCE","TAXES","OTHER"]},"accountNumber":{"type":"string"},"bankCode":{"type":"string"},"isRecurring":{"type":"boolean"}}},"Card":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"cardNumberMasked":{"type":"string","pattern":"^xxxx-xxxx-xxxx-\\d{4}$","example":"xxxx-xxxx-xxxx-1234"},"cardType":{"type":"string","enum":["DEBIT","CREDIT"]},"status":{"type":"string","enum":["ACTIVE","BLOCKED","EXPIRED","LOST"]},"expiryDate":{"type":"string","format":"month","example":"2025-12"},"dailyLimit":{"$ref":"#/components/schemas/Money"},"monthlyLimit":{"$ref":"#/components/schemas/Money"},"accountId":{"type":"string","format":"uuid"},"issuedAt":{"type":"string","format":"date-time"}}},"CardTransaction":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"merchantName":{"type":"string"},"amount":{"$ref":"#/components/schemas/Money"},"location":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"cardId":{"type":"string","format":"uuid"}}},"LoanApplication":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"customerId":{"type":"string","format":"uuid"},"loanType":{"type":"string","enum":["PERSONAL","HOME","AUTO","BUSINESS"]},"amountRequested":{"$ref":"#/components/schemas/Money"},"amountApproved":{"$ref":"#/components/schemas/Money"},"termMonths":{"type":"integer","example":36},"interestRate":{"type":"number","format":"decimal","example":5.99},"status":{"type":"string","enum":["PENDING","UNDER_REVIEW","APPROVED","REJECTED","DISBURSED"]},"appliedAt":{"type":"string","format":"date-time"},"decisionAt":{"type":"string","format":"date-time"},"documents":{"type":"array","items":{"type":"string"}}}},"LoanApplicationRequest":{"type":"object","properties":{"loanType":{"type":"string","enum":["PERSONAL","HOME","AUTO","BUSINESS"]},"amount":{"$ref":"#/components/schemas/Money"},"termMonths":{"type":"integer","minimum":3,"maximum":360},"purpose":{"type":"string","example":"Home renovation"}},"required":["loanType","amount","termMonths"]}}},"paths":{"/auth/login":{"post":{"summary":"Login with username and password to get JWT tokens","description":"Login with username and password to get JWT tokens","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"username":{"type":"string","example":"john.doe"},"password":{"type":"string","format":"password","example":"SecurePass123!"}},"required":["username","password"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/auth/refresh":{"post":{"tags":["Auth"],"summary":"Refresh access token","operationId":"refreshToken","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}}},"responses":{"200":{"description":"New access token generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}},"401":{"description":"Invalid or expired refresh token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/auth/logout":{"post":{"tags":["Auth"],"summary":"Logout user","operationId":"logout","security":[{"BearerAuth":[]}],"responses":{"204":{"description":"Successfully logged out"},"401":{"description":"Unauthorized"}}}},"/accounts":{"get":{"tags":["Accounts"],"summary":"Get all accounts","description":"Returns list of accounts for authenticated user","operationId":"getAccounts","parameters":[{"name":"type","in":"query","schema":{"type":"string","enum":["CHECKING","SAVINGS","CREDIT","BUSINESS"]},"description":"Filter by account type"},{"name":"status","in":"query","schema":{"type":"string","enum":["ACTIVE","FROZEN","CLOSED"]},"description":"Filter by account status"},{"name":"page","in":"query","schema":{"type":"integer","default":1}},{"name":"size","in":"query","schema":{"type":"integer","default":20,"maximum":100}}],"responses":{"200":{"description":"List of accounts","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PagedResponse"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}]}}}},"401":{"description":"Unauthorized"}}},"post":{"tags":["Accounts"],"summary":"Create new account","operationId":"createAccount","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountRequest"}}}},"responses":{"201":{"description":"Account created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/accounts/{accountId}":{"get":{"tags":["Accounts"],"summary":"Get account by ID","operationId":"getAccount","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Account details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"404":{"description":"Account not found"}}}},"/accounts/{accountId}/statement":{"get":{"tags":["Accounts"],"summary":"Get account statement","operationId":"getStatement","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","schema":{"type":"string","format":"date"},"description":"Start date"},{"name":"to","in":"query","schema":{"type":"string","format":"date"},"description":"End date"},{"name":"format","in":"query","schema":{"type":"string","enum":["JSON","PDF"],"default":"JSON"}}],"responses":{"200":{"description":"Account statement","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatement"}},"application/pdf":{"schema":{"type":"string","format":"binary"}}}}}}},"/transactions":{"get":{"tags":["Transactions"],"summary":"Get transaction history","operationId":"getTransactions","parameters":[{"name":"accountId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","schema":{"type":"string","enum":["CREDIT","DEBIT","TRANSFER","PAYMENT"]}},{"name":"page","in":"query","schema":{"type":"integer","default":1}},{"name":"size","in":"query","schema":{"type":"integer","default":50}}],"responses":{"200":{"description":"List of transactions","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PagedResponse"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}}]}}}}}}},"/transactions/{transactionId}":{"get":{"tags":["Transactions"],"summary":"Get transaction details","operationId":"getTransaction","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Transaction details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"404":{"description":"Transaction not found"}}}},"/transfers/internal":{"post":{"tags":["Transfers"],"summary":"Internal transfer","description":"Transfer between own accounts","operationId":"internalTransfer","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}}}},"responses":{"200":{"description":"Transfer processed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferResponse"}}}},"400":{"description":"Insufficient funds or invalid request"},"422":{"description":"Validation error"}}}},"/transfers/external":{"post":{"tags":["Transfers"],"summary":"External transfer","description":"Transfer to external beneficiary","operationId":"externalTransfer","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTransferRequest"}}}},"responses":{"200":{"description":"Transfer initiated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferResponse"}}}}}}},"/transfers/scheduled":{"get":{"tags":["Transfers"],"summary":"Get scheduled transfers","operationId":"getScheduledTransfers","parameters":[{"name":"accountId","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"fromDate","in":"query","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"List of scheduled transfers"}}}},"/beneficiaries":{"get":{"tags":["Beneficiaries"],"summary":"Get all beneficiaries","operationId":"getBeneficiaries","responses":{"200":{"description":"List of beneficiaries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Beneficiary"}}}}}}},"post":{"tags":["Beneficiaries"],"summary":"Add beneficiary","operationId":"addBeneficiary","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddBeneficiaryRequest"}}}},"responses":{"201":{"description":"Beneficiary added","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Beneficiary"}}}},"409":{"description":"Beneficiary already exists"}}}},"/payments":{"post":{"tags":["Payments"],"summary":"Make a payment","operationId":"makePayment","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequest"}}}},"responses":{"202":{"description":"Payment accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferResponse"}}}}}}},"/payments/payees":{"get":{"tags":["Payments"],"summary":"Get saved payees","operationId":"getPayees","responses":{"200":{"description":"List of payees","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Payee"}}}}}}}},"/cards":{"get":{"tags":["Cards"],"summary":"Get all cards","operationId":"getCards","responses":{"200":{"description":"List of cards","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Card"}}}}}}}},"/cards/{cardId}/transactions":{"get":{"tags":["Cards"],"summary":"Get card transactions","operationId":"getCardTransactions","parameters":[{"name":"cardId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Card transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CardTransaction"}}}}}}}},"/cards/{cardId}/block":{"post":{"tags":["Cards"],"summary":"Block card","description":"Temporarily or permanently block a card","operationId":"blockCard","parameters":[{"name":"cardId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"reason":{"type":"string","enum":["LOST","STOLEN","SUSPICIOUS_ACTIVITY"]},"permanent":{"type":"boolean","default":false}}}}}},"responses":{"200":{"description":"Card blocked"}}}},"/loans/apply":{"post":{"tags":["Loans"],"summary":"Apply for a loan","operationId":"applyLoan","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanApplicationRequest"}}}},"responses":{"201":{"description":"Loan application submitted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanApplication"}}}}}}},"/loans/applications":{"get":{"tags":["Loans"],"summary":"Get loan applications","operationId":"getLoanApplications","parameters":[{"name":"status","in":"query","schema":{"type":"string","enum":["PENDING","UNDER_REVIEW","APPROVED","REJECTED"]}}],"responses":{"200":{"description":"List of loan applications","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoanApplication"}}}}}}}},"/loans/applications/{applicationId}":{"get":{"tags":["Loans"],"summary":"Get loan application details","operationId":"getLoanApplication","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Loan application details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanApplication"}}}}}}}}}